.button{
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font: bold 15pt "Garamond";
    -fx-border-color: black;
    -fx-background-size: 15;
}

.creatureButton {
    -fx-max-width: infinity;
    -fx-hgrow-policy: always;
    -fx-font: bold 15pt "Garamond";
    -fx-font-size: 15px;
}

.label {
   -fx-font: bold 20pt "Garamond";
   -fx-padding: 10px
   -fx-text-fill: black;
}

.centerHBox {
    -fx-border-color: black;
    -fx-border-width: 6;
    -fx-pref-width: 800;
}

.slider {
    -fx-padding: 50 10 10 10;
}

.slider .track {
    -fx-pref-height:20;
}

.slider .thumb {
    -fx-pref-height: 30;
    -fx-pref-width: 10;
}

#readyButton{
    -fx-pref-width: 1600;
}

.desc-text{
    -fx-font-weight:bold;
    -fx-text-fill:#000000;
    -fx-font-family: "Leelawadee UI";
    -fx-font-size:11px
    }

.creature-name-text{
    -fx-font-weight:bold;
    -fx-text-fill:#000000;
    -fx-font-family: "Verdana";
    -fx-font-size:16px
    }
.buy-creature-text{
     -fx-font-weight:bold;
        -fx-text-fill:#000000;
        -fx-font-family: "Garamond";
        -fx-font-size:20px
        }

    .border{
    -fx-border-color: blac;
    -fx-border-instets: 5;
    }
.creature-button-statistic{
    -fx-font: 7pt "Verdana";
     -fx-font-padding:2px;
        -fx-text-fill: black;
        -fx-font-weight: bold;
    }
.troop-box {
    -fx-border.color: black;
    -fx-pref-width: 220;
    }
.hero-state{
    -fx-font-weight:bold;
    -fx-text-fill:#000000;
    -fx-font-family: "Garamond";
    -fx-font-size: 30px;
    }
}